
body {
    font-family: 'Droid Sans', sans-serif; /* Семейство шрифтов */
    font-size: 14pt; /* Размер основного шрифта в пунктах  */
    image-rendering: crisp-edges;
    /*background-color: #f0f0f0; /* Цвет фона веб-страницы */
    background: rgb(204,204,204); 
    color: #333; /* Цвет основного текста */ 
    margin-left: auto;
    margin-right: auto;
    line-height: 1.3;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

/* Заголовок темы или раздела */
p[class="section"] {
    font-family: 'Roboto Bold', 'Droid Serif', 'Ubuntu Serif', serif;
    line-height: 1.0;
    letter-spacing: .1rem;
    font-size: 26pt;
    font-weight: bold;
    text-align: center; 
    margin-left: 60px;
    margin-right: 60px;
}

/* Заголовок подраздела */
p[class="subsection"] {
    font-family: 'Roboto Bold', 'Droid Serif', 'Ubuntu Serif', serif;
    line-height: 1.0;
    letter-spacing: .1rem;
    word-break: break-word;
    font-size: 18pt;
    font-weight: bold;
    text-align: justify; 
    margin-left: 60px; 
    margin-right: 60px; 
}

/* Основной текст (вообще должно быть "plain")) */
p[class="plain"] {
    /* text-indent: 1.5em; */
    letter-spacing: .02rem;
    text-align: justify; /* Выравнивание по ширине */
    margin-left: 60px; /* Отступ слева в пикселах */
    margin-right: 60px; /* Отступ справа в пикселах */
}

div {
    background: white;
    display: block;
    margin: 0 0;
    margin-bottom: 0.0cm;
    /* box-shadow: 0 0 2.5cm rgba(0,0,0,0.8); */
}
